
body {
   
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}

header {
    background: rgb(7, 7, 0);
    background-position: center;
    background-repeat: no-repeat;   
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 89%, 0 100%)
}

.container {
    max-width: 1152;
    padding: 0 15px;
    margin: 0 7rem;
}
                

header nav .left a {
    color: #FFF;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: #e84610;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}


.flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary {
    background-color: #b44e2b;
    color: rgb(2, 2, 2);
}

.btn-primary:hover {
    background: transparent;
    border-color: #e84610;
    color: #e84610;
}

.hero{
    padding: 3rem 1.5rem;
}

.hero .left img{
    width: 500px;
}

.hero .right {
    color: #fff;
}

.hero .right h6 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 0.5rem;
    margin-top: 8rem;
    padding-left: 1.8rem;
}

.hero .right h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding-left: 1.8rem; 
}

.hero .right h1 span {
    color: #E84610;
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
    padding-left: 1.8rem;
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}

.hero .right{
    margin-top: -7rem;
}

/* ---------------------------------------------------------------------About Me*/

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: #E84610;
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: rgb(78, 67, 67);
    line-height: 1.9;
}

section.about .social {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #063f6e;
}

/* ------------------------------------------------------------- Events*/

.section-heading{
    color: #000;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    text-transform: uppercase;
}


.section-heading span{
    color: #E84610;
}

.section-heading + p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(63, 59, 59);
    line-height: 1.9; 
    margin-bottom: 1rem;
}

.section-heading + p span{
    text-transform: uppercase;
    font-weight: 800;
}

.events {
    background:#FFF;
    height: 600px;
}


.events div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 19%;
    height: 21rem;
    margin-left: 4rem;
    float: left;
    padding: 3rem 3rem 3rem 3rem;
    text-align: center;
}

.events div h2 {
    color: #fafafa;
    font-weight: 400;
    margin-bottom: 2rem;
}

/*-------------------------------------------------------------------- Offering*/

.section-heading {
    color: rgb(29, 27, 27);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

section.service img{
    height: 50%;
    width: 100%;
    padding: 1rem;
}

.section-heading + p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(63, 59, 59);
    line-height: 1.9; 
    margin-bottom: 8rem;
}

section.service .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

section.service .card-wrapper .card {
    background: rgb(196, 158, 158);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 10rem;
    transition: all .3s ese;
}

section.service .card-wrapper .card img {
    position: absolute;
    top: -4.6rem;
    left: 50%;
    transform: translateX(-50%);
}

section.service .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.service .card-wrapper .card p {
    font-family: 'Lato' ,sans-serif;
    color:#fafafa;
    line-height: 1.2;
    margin-bottom: 2rem;
}

section.service .card-wrapper .card .btn {
    font-size: 10px;
    padding: 10px 24px;
    outline: none;
    cursor: pointer;
}

section.service .card-wrapper .card:hover {
    background: rgba(53, 19, 19, 0.6)
}

section.service .card-wrapper .card:hover h2 ,
section.service .card-wrapper .card:hover p {
    color: #fafafa;
}

section.service .card-wrapper .card .btn:hover {
    background: transparent;
    border-color: #0fbb1d;
    color: #06b61d;
}
/*----------------------------------------------------------------------- Blog Section*/

section.blog {
    background: rgb(196, 194, 177);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 92%, 0 100%)
}

section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    
}

section.blog .card-wrapper .card{
    background: #fff;
}

section.blog img{
    height: 100%;
    width: 100%;
    padding: 1rem;
}

section.blog .card-wrapper .card .card-content{
    padding: 2rem;
}

section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4rem 0.7rem;
    
}

section.blog .card-wrapper .card .card-content a{
    color: rgb(83, 79, 79);
    text-decoration: none;
    padding: 0.4rem 0.7rem;
}

section.blog .card-wrapper .card .card-content span{
    color: rgb(233, 227, 227);
    font-size: 0.4rem;
    padding: 0.4rem 0.7rem;
}

section.blog .card-wrapper .card .card-content span {
    color: rgb(83, 79, 79);
    font-size: smaller;
    float: left;
}

section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: rgb(83, 79, 79);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    
}


/*------------------------------------------------------------------- Contact Me*/

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}



section.contact .card-wrapper .card img{
    margin-bottom: 1.6rem;
    width: 45px;
}


section.contact .card-wrapper .card h3{
    font-weight: 200;
    margin-bottom: 0.3rem;
}

section.contact .card-wrapper .card h6{
    font-weight: 200;
    margin-bottom: 1.6rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
}

section.contact input{
    padding: 0.5rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    margin-bottom: 2rem;
}

section.contact .btn-wrapper{
    text-align: center;
}


/* -------------------------------------------------- Blog page*/

section{
    padding: 6rem 0;
}

section.blog-p .blog-p-me-img{
    height: 300px;
}

section.blog-p h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.blog-p h1 span{
    color: #E84610;
}

section.blog-p p{
    font-family: 'Lato', sans-serif;
    line-height: 1.9;
}


/*--------------------------------------------------Mobile and Table First Use*/

#toggle {
    display: none;
}

.togglearea {
    background-color: rgb(7, 7, 0);
    border-bottom: 2px solid white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background-color: white;
    height: 45px;
    width: 50px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 3px 0px;
}

.togglearea {
    display: none;
}

@media screen and (max-width: 1024px){

    header #main-nav {
        flex-direction: column;
        display: none;
        justify-content: center;
    }

    .btn {
        display: none;
    }

    #toggle:checked + header #main-nav {
        display: flex;
    } 

    .togglearea {
        display: flex;
    }

    .hero .left img {
        width: 342px;
        padding: 0rem 2rem 0rem 0rem;
    }

    .hero .right h6 {
        font-size: 0.8;
        color: #fff;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
    }

    .hero .right h1{
        font-size: 1rem;
        margin: 0rem -3rem 4rem 0rem;
    }

    .hero .right p {
        line-height: 1.6;
        margin: 0rem -3rem 4rem 0rem;
    }
    
    .hero {
        padding-top: 8rem;
    }

    .header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 90%, 0 100%)
    }

    section.about .about-me-img{
    height: 360px;
    padding: 2rem 2rem;
    }
    
    section.service .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 7rem;
        grid-row-gap: 7rem;
    }

     section.service .card-wrapper .card {
        padding-top: 14rem;
    }



    .events {
        height: 770px;
    }

     .events div {
        color: #fafafa;
        background-color: rgba(0, 0, 0, .6);
        width: 39%;
        height: 17rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
        float: left;
        padding: 1rem -1rem;
        text-align: center;
    }   


    section.blog .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }   


    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }

        section.blog .card-wrapper .card .card-content {
        padding: 0rem;
        }

        section.blog .card-wrapper .card .card-content p {
            padding-left: 1.2rem;
        }

        section.blog-p .blog-p-me-img {
            width: 445px;
            padding: 1rem 0rem;
            margin-top: 5rem;
        }

        section.blog-p p {
            line-height: 1.6;
            margin: 0rem -3rem -2rem 1rem;
            width: 121%;
        }

        section.blog-p h1{
            margin-bottom: 1rem;
            font-size: 1.3rem;
            font-weight: 400;
            font-style: bold;
            font-size: large;
        }

}


@media screen and  (max-width: 576px){
    .hero {
        flex-direction: column;
    }

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }

    hero .right {
        position: absolute;
        top: 260px;
        padding: 0 1 rem; 
    }

    .hero .right h6 {
        margin-top: 0rem 3rem 0rem 1rem;
    }

    .hero .right h1 {
        padding: 0rem 3rem 0rem 1rem;
    }

    .hero .right p {
        padding: 0rem 3rem 0rem 1rem;
         width: 400px;
    }

    .hero .left {
        margin-top: -5rem;
        margin-right: -2rem;
    }

    .about-inner-wrap {
        flex-direction: column;
    }

    .about .right {
        text-align: center;
    }

    section.about p {
        width: 300px;
        padding-bottom: 2rem;
    }

    section {
    padding: 1rem 0rem;
    }

    .events div  {
        width: 74%;
        height: 15rem;
        margin-left: 3rem;
    }

    .events {
        height: 1250px;
    }

    .container{
        margin: 0rem;
        flex-direction: column;
    }

    section.service .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    }

    section.contact .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    } 

    section.contact input {
        padding: -0.5rem;
    }

    section.blog-p p {
        margin: 0rem;
        width: 100%;
    }
    
    
   
    
}




